@import url("/css/bootstrap-glyphicons.css");

#list {
  margin-top: 50px;
}

#list li {
  margin-bottom: 55px;
}

#list li a {
  padding: 20px;  
  cursor: pointer;
  color: gray;
  margin: 3px;
}

#list li a:hover {
  border: 1px solid gray;
  text-decoration: none;
}

#dropbox {
  margin: 20px 0;
}

#dropbox h2 {
  color: gray;
  text-align : center;
}

#data {
  display: none;
}

#title {
  text-align: center;
  background-color: rgb(51, 51, 51);
  position: absolute;
  width: 100%;
  top: 0;
  color: white;
}

#app { 
  margin-top: 75px
}

#countdown {
  margin-top: 10px;
  font-size: 15pt;
  padding-bottom: 10px;
}
