@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");


#list {
  margin-top: 50px;
}

#list li a {
  padding: 20px;  
  cursor: pointer;
  color: gray;
  margin: 3px;
}

#list li a:hover {
  border: 1px solid gray;
}

#dropbox h2 {
  color: gray;
  text-align : center;
}

#data {
  display: none;
}
