#list {
  margin-top: 50px;
}

#list li {
  padding: 20px;  
  cursor: pointer;
  color: gray;
  margin: 3px;
}

#list li:hover {
  border: 1px solid gray;
}

#dropbox h2 {
  color: gray;
  text-align : center;
}
