!!! 5
html
  head
    title Sherbox #{hello}
    link(href="/css/bootstrap.css" rel="stylesheet")
    link(href="/css/style.css" rel="stylesheet")
    script(src="/js/jquery.js")
    script(src="/js/bootstrap.js")
    script(src="/js/sjcl.js")
  body
    div.container
      div.page-header
        h1 Sherbox <small>securly share your files</small>
        h4 Box : #{box}

      div.row
        div#dropbox.well.col-md-10.col-md-offset-1
          h2 Drag and drop files here

      div.row
        ul#list.list-inline

    script.
      function handleFiles(files) {
        for (var i = 0, f; f = files[i]; i++) {
          var file = files[i];
          var reader = new FileReader();
          reader.readAsBinaryString(file);

          reader.onloadend = function(evt) {
            var crypt = sjcl.encrypt("password", reader.result);
            var item = $('<li class="well">');
            var link = $('<a>');

            link.attr('href', 'data:,' + encodeURIComponent(reader.result));
            link.attr('download', file.name);
            link.html(file.name);
            item.append(link);

            $("#list").append(item);

            $.post("/put", { 
              crypt: crypt, 
              name: file.name 
              }, function(data) {
                console.log(data);
              }, "json");
          }
        }
      }

      function dragenter(e) {
        e.stopPropagation();
        e.preventDefault();
      }

      function dragover(e) {
        e.stopPropagation();
        e.preventDefault();
      }

      function handleFileSelect(e) {
        e.stopPropagation();
        e.preventDefault();

        var files = e.target.files; // FileList object
        handleFiles(files);
      }

      function drop(e) {
        e.stopPropagation();
        e.preventDefault();

        var dt = e.originalEvent.dataTransfer;
        var files = dt.files;

        handleFiles(files);
      }

      $('#files').on('change', handleFileSelect);

      $("#dropbox").on('dragenter', dragenter);
      $("#dropbox").on('dragover', dragover);
      $("#dropbox").on('drop', drop);
