!!! 5
html
  head
    title Sherbox
    link(href="/css/bootstrap.css" rel="stylesheet")
    link(href="/css/style.css" rel="stylesheet")
    script(src="/js/jquery.js")
    script(src="/js/bootstrap.js")
    script(src="/js/sjcl.js")
  body
    div.container
      div.page-header
        h1 Sherbox <small>securly share your files</small>

      div#filepicker.row
        div.col-md-10.col-md-offset-1
          input(type="file", id="files", name="files[]" multiple)

      div.row
        div#dropbox.well.col-md-10.col-md-offset-1
          p Drag and drop files here

      div.row
        ul#list.list-inline
          li.well filename
          li.well filename
          li.well filename

    script.
      function handleFiles(files) {
        for (var i = 0, f; f = files[i]; i++) {
          var file = files[i];
          var reader = new FileReader();
          reader.readAsBinaryString(file);

          reader.onloadend = function(evt) {
            console.log(file);
            var crypt = sjcl.encrypt("password", reader.result);
            //console.log(crypt);
            $("#list").append('<li class="well">' + file.name  + '</li>')
          }
        }
      }

      function handleFileSelect(e) {
        e.stopPropagation();
        e.preventDefault();

        var files = e.target.files; // FileList object
        handleFiles(files);
      }

      function drop(e) {
        e.stopPropagation();
        e.preventDefault();

        var dt = e.dataTransfer;
        var files = dt.files;

        handleFiles(files);
      }

      $('#files').on('change', handleFileSelect);

      $("#dropbox").on('drop', drop);
